.locations__hero {
  min-height: 100vh;
  background: url("https://c4.wallpaperflare.com/wallpaper/519/777/177/rick-and-morty-space-wallpaper-preview.jpg");
  background-size: cover;
}

.locations__heading {
  font-size: 30px;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  padding: 50px 0;
  text-shadow: 5px 2px 9px #6AF76B, 5px 2px 9px #6AF76B, 5px 2px 9px #6AF76B;
}

.locations__btn-more {
  padding: 7px 15px;
  border: none;
  border-radius: 10px;
  margin: 20px 70px;
  background-color: #05bd05;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
