.characters__hero {
  min-height: 100vh;
  background-image: url('https://wallpapers.com/images/hd/rick-and-morty-looking-at-the-night-sky-tr8wxryct280wstz.jpg');
  background-size: auto;
  background-blend-mode: soft-light;
}

.characters__heading {
  font-size: 30px;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  padding: 50px 0;
  text-shadow: 5px 2px 9px #6AF76B, 5px 2px 9px #6AF76B, 5px 2px 9px #6AF76B;
}
