<form class="characters__form" [formGroup]="charactersSearchForm">
  <label>
    <input class="characters__form-input" type="text" placeholder="Search by Name" formControlName="searchName">
  </label>

  <label>
    <select class="characters__form-input" formControlName="searchGender">
      <option value="" disabled selected>Select gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="unknown">Unknown</option>
      <option value="genderless">Genderless</option>
    </select>
  </label>

  <button class="characters__form-btn" (click)="searchCharacter()" type="button">Search</button>

</form>
